# Gérer les fins de ligne de manière cohérente sur tous les systèmes.
* text=auto eol=lf

# Forcer les fins de ligne LF pour les scripts shell, car ils sont exécutés sur Linux.
*.sh eol=lf

# Forcer également les fins de ligne LF pour les fichiers Python pour la cohérence.
*.py eol=lf