# Django Framework
Django>=5.2,<5.3

# Connecteur de base de données
psycopg2-binary

# Variables d'environnement
python-dotenv

# Add-ons et Utilitaires Django
django-widget-tweaks
Pillow
weasyprint
python-dateutil
