{% extends 'gestion/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Connexion</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'gestion:reinitialisation' %}">Mot de passe oublié ?</a>
                    </div>
                    <div class="text-center mt-2">
                        <p>Pas encore de compte ? 
                            <a href="{% url 'gestion:register' %}">Créez-en un !</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}