{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Saisir un nouveau mot de passe" %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h3>{% if validlink %}{% trans "Saisir un nouveau mot de passe" %}{% else %}{% trans "Erreur" %}{% endif %}</h3></div>
                <div class="card-body">
                    {% if validlink %}
                        <p>{% trans "Veuillez saisir votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez correctement saisi." %}</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary w-100">{% trans 'Changer mon mot de passe' %}</button>
                        </form>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            <p>{% trans "Le lien de réinitialisation du mot de passe était invalide, probablement parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe." %}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}