{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Email envoyé" %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">{% trans "Instructions envoyées !" %}</h4>
                <p>{% trans "Nous vous avons envoyé un e-mail avec les instructions pour réinitialiser votre mot de passe, si un compte avec l'adresse que vous avez saisie existe." %}</p>
                <hr>
                <p class="mb-0">{% trans "Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable (spam)." %}</p>
            </div>
        </div>
    </div>
{% endblock %}